{% extends 'base.html' %}

{% block content %}
<section class="rungtynes">
    <h2 class="stats-title">Rungtynių Rezultatai</h2>
    <table class="rungtynes-table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Pirmoji komanda</th>
                <th>Antroji komanda</th>
                <th>Rezultatas</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
            {% for rungtynes in pagination.items %}
            <tr>
                <td>{{ rungtynes.data }}</td>
                <td>{{ rungtynes.komanda_1 }}</td>
                <td>{{ rungtynes.komanda_2 }}</td>
                <td>{{ rungtynes.taškai_1 }} : {{ rungtynes.taškai_2 }}</td>
                <td>
                    <a href="{{ url_for('edit', id=rungtynes.id) }}" class="edit-button">✏️</a>
                    <form method="POST" action="{{ url_for('delete', id=rungtynes.id) }}" style="display: inline-block;">
                     <button type="submit" class="delete-button">🗑️</button>
                    </form>
               </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <div class="pagination">
        {% if pagination.has_prev %}
            <a href="{{ url_for('home', page=pagination.prev_num) }}" class="page-link">Ankstesnis</a>
        {% endif %}
        <span>Puslapis {{ pagination.page }} iš {{ pagination.pages }}</span>
        {% if pagination.has_next %}
            <a href="{{ url_for('home', page=pagination.next_num) }}" class="page-link">Kitas</a>
        {% endif %}
    </div>
</section>
{% endblock %}